@import "/src/styles";

.favourites-pane {
  margin: auto;
  .favouriteDashboard-head {
    .title {
    }
  }
  .each-coin {
    // min-width: 20rem;
    padding-top: 0.2rem;
    height: 3rem;
    width: 100%;
    margin: auto;
    margin-top: 0.6rem;
    transition: 1s;
    border: 1px solid #eee;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
      transition: 1s;
      border-color: 1px solid $primaryColor_light;
    }
    .fovourite-eachCoin {
      width: 100%;
      display: flex;
      font-size: 0.8rem;
      font-weight: 600;
      .eachCoin-favourite-btn {
        font-size: 0.8rem;
        margin-top: 0.5rem;
        width: 1.5rem;
        border-right: 1px solid #eee;
      }
      .eachCoin-body {
        display: flex;
        width: 100%;
      }
      .eachCoin-header-icon {
        width: 10%;
        text-align: center;
        margin-top: 0.5rem;
        .icon {
          width: 20px;
        }
      }
      .eachCoin-header-body {
        display: flex;
        padding-left: 0.4rem;
        width: 90%;
        .name-symbol {
          display: inline;
          color: #777;
          font-weight: 600;
          width: 20%;
          margin-top: 0.5rem;
        }
        .price {
          margin-top: 0.5rem;
          display: inline;
          width: 35%;
          font-size: 0.8rem;
          font-weight: 600;
        }
        .sparkline {
          display: inline;
          margin-top: 0.3rem;
          margin-left: 1.5rem;
          width: 44%;
        }
      }
    }
  }
}
