.one-news-page {
  margin-top: 2rem;
  .one-news-row {
    .one-news-right {
      // margin: auto;
    }
    .one-news-left {
      margin: auto;
    }
  }
  .one-news-newsCard {
    margin-top: 2rem;
    margin: auto;
  }
}
