@import "/src/styles";

.user-layout {
  font-size: 0.8rem;
  border-radius: 5px;
  .user-layout-menu {
  }
  .user-layout-body {
    margin-top: -1rem;
    background-color: rgba(220, 220, 220, 0.5);
    padding-bottom: 1rem;
  }
}
.user-layout-body-loading {
  text-align: center;
  margin: auto;
}

.user-profile {
  .profile-inputs {
    width: 20rem;
  }
  .profile-update-btn {
    text-align: right;
    padding: 1rem;
  }
  .user-profile-action-btns {
    text-align: right;
  }
  .user-profile-other-details {
    .user-profile-other-details-divs {
      padding: 0.5rem;
      font-weight: 600;
      color: #555;
      border-bottom: 1px solid #eee;
      margin-top: 0.5rem;
    }
  }
}
