.favourites-pane {
  .favouriteDashboard-head {
    .title {
    }
  }
  .fovourite-eachCoin {
    cursor: pointer;
    margin-top: 0.6rem;
    // box-shadow: 0px 1px 2px #eee;
    padding: 0.3rem;
    display: flex;
    .eachCoin-favourite-btn {
      font-size: 0.8rem;
      width: 9%;
    }
    .eachCoin-header-icon {
      display: inline;
      width: 10%;
      // background-color: #000;
      .icon {
        width: 20px;
      }
    }
    .eachCoin-header-body {
      // display: flex;
      width: 84%;
      .symbol {
        color: #777;
        float: left;
        font-weight: 600;
      }
      .price {
        float: right;
      }
    }
  }
}
