$fontSize: 1rem;
$fontColor: #444;
$border: 1px solid rgba(200, 200, 200, 0.5);
$borderRadius: 3px;
$boxShadow: 0px 1px 2px #ddd;
$fontFamily: raleway, roboto, Helvetica, sans-serif;
// $mainPageBackground: rgba(240, 240, 240, 0.9);
$mainPageBackground: rgba(255, 255, 255, 0.9);

//colors
//text colors
$green: rgb(3, 126, 3);
$red: rgb(126, 7, 3);
$primaryColor: rgba(60, 199, 198, 1);
$primaryColor_light: rgba(60, 199, 198, 0.3);

//LINKS
a {
  &:hover {
    color: $primaryColor;
  }
}

//COIN ICONS
.coinIcon {
  width: 20px;
}

//FAVOURITE
.favourite-star {
  font-size: larger;
}
.isFavourite {
  color: $primaryColor;
}

//TRENDING COINS
$trendingBackgroundColor: #fff;

// PAGE
.page-section {
  margin: auto;
  margin-top: 2rem;
}
// PAGE HEAD TEXT
// $page_head_text: 1.1rem;
.page_head_text {
  font-size: 1.1rem;
  font-weight: 600;
}

//GENERAL INPUT FIELD
.general-input {
  height: 2rem;
}

.general-submit-btn {
  transition: 0.5s;
  padding: 0.5rem;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 3px;
  font-weight: bolder;
  width: 5rem;
  // background-color: rgba(17, 68, 153, 0.5);
  background-color: #fff;
  &:hover {
    transition: 0.5s;
    background-color: $primaryColor_light;
    color: #fff;
  }
  &:active {
    border: 1px solid #fff;
  }
}

.general-loading-submit-btn {
  transition: 0.5s;
  padding: 0.5rem;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  border-radius: 3px;
  font-weight: bolder;
  width: auto;
  // background-color:$primaryColor_light;
  background-color: #fff;
  &:hover {
    transition: 0.5s;
    background-color: $primaryColor_light;
    color: #fff;
  }
  &:active {
    border: 1px solid #fff;
  }
  &.loading {
    transition: 0.5s;
    background-color: $primaryColor_light;
    color: #fff;
  }
  .general-loading-submit-spin {
    height: 1rem;
    width: 1rem;
  }
}

// HEADER COLOR - LIGHT
$headerTextColor: #fff;

//NUMBER COLORS
$numberUp: rgb(10, 136, 48);
$numberDown: rgb(136, 10, 48);
