@import "./styles";

.boilerplate {
  position: relative;
  font-size: $fontSize;
  min-height: 100vh;
  // font-family: $fontFamily;
}
.page {
  position: relative;
  // height: 80%;
  // margin-top: 1rem;
  // margin-bottom: 3rem;
  // bottom: 15rem;
  // background-color: ;
}

.loading-div {
  text-align: center;
  // width: ;
  margin: auto;
}

.boilerplate_footer {
  clear: both;
  margin-top: 20rem;
  margin-bottom: 0;
  bottom: 0rem;
}
