@import "../../styles";

.widget-news-brief {
  width: 80%;
  // border: 1px solid #eee;
  border-radius: 3px;
  padding: 0.8rem;
  text-align: left;
  margin: auto;
  .each {
    font-size: 0.9rem;
    border-bottom: 1px solid #eee;
    .EachBrief {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      .date {
        background-color: $primaryColor;
        padding: 0.3rem;
        color: #fff;
      }
      .title {
        // font-weight: 600;
        margin-top: 0.3rem;
      }
      .tags {
        font-style: italic;
        color: #999;
        margin-top: 0.4rem;
        text-align: left;
      }
    }
  }
}
