@import "../../styles";

.widget-news-brief {
  border-radius: 3px;
  padding: 0.8rem;
  text-align: left;
  margin: auto;
  // background-color: #fff;
  .each {
    width: 80%;
    margin: auto;
    font-size: 0.9rem;
    border-bottom: 1px solid #eee;
    .EachBrief {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      box-shadow: 0px 0px 5px #bbb;
      border-radius: 5px;
      background-color: #fff;
      .date {
        background-color: $primaryColor;
        padding: 0.3rem;
        color: #fff;
      }
      .title {
        padding: 0.4rem;
        margin-top: 0.3rem;
      }
      .tags {
        font-style: italic;
        color: #999;
        margin-top: 0.4rem;
        text-align: left;
        padding: 0.4rem;
      }
    }
  }
}
